<div>{{ changchun_people_age_data_show_html|safe }}</div>
<div>{{ gdp_contrast_data_show_html|safe }}</div>
<div>{{ changchun_poeple_edu_data_show_html|safe }}</div>
<div>{{ edu_contrast_data_show_html|safe }}</div>
<div>{{ people_distribution_data_show_html|safe }}</div>
<div>{{ changchun_people_distribution_map_data_show_html|safe }}</div>
<div>{{ test_html|safe }}</div>
<div>{{ changchun_fangjia_distribution_map_data_show_html|safe }}</div>
<div>{{ changchun_GDP_distribution_map_data_show_html|safe }}</div>